//$shadow : rgba(0, 0, 0, 0.1) 0px 4px 12px;
@import '../../colors';

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .login-box{
    border-radius: 10px;
    margin: 0 1em;
    padding: 2em 4em;
    text-align: center;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap:1em;
    box-shadow: $shadow;

    input{
      padding: .5em;
      border: none;
      border-bottom: 1px solid #234;
      outline: none;
    }
    button{
      font-size: 1.3rem;
      padding: .5em;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      background-color: $main-color;
      color: white;
      font-weight: 700;
      box-shadow: $shadow;
    }
  }
}