//$shadow : rgba(0, 0, 0, 0.1) 0px 4px 12px;
@import '../../colors';

.login{
  & *{
    font-family: 'Poor Story', cursive;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .login-box{
    border-radius: 10px;
    margin: 0 1em;
    padding: 2em 4em;
    text-align: center;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap:1em;
    box-shadow: $shadow;

    input{
      padding: .5em;
      border: none;
      font-size: 1.3rem;
      border-bottom: 1px solid #234;
      outline: none;
    }
    button{
      font-size: 1.3rem;
      padding: .5em;
      border-radius: 30px;
      border: none;
      cursor: pointer;
      background: #D3CCE3;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
      background: $main-gradient; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  }
}